.features-section {
  position: relative;
}
.features-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.features-header {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.features-icon {
  width: 20px;
  object-fit: cover;
}
.features-text {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
.features-divider {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
@media(max-width: 991px) {
  .features-section {
    border-right-width: 0px;
  }
  .features-divider {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .features-header {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.practice-practice {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.practice-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.practice-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.practice-caption {
  max-width: 385px;
  line-height: 24px;
}
.practice-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.practice-image {
  width: 12px;
  object-fit: cover;
}
@media(max-width: 767px) {
  .practice-practice {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .practice-header {
    font-size: 20px;
    line-height: 24px;
  }
  .practice-caption {
    font-size: 14px;
    line-height: 21px;
  }
}

.doctor-doctor {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 270px;
  align-items: center;
  flex-direction: column;
}
.doctor-image {
  width: 270px;
  object-fit: cover;
}
.doctor-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.doctor-text {
  width: 100%;
  font-size: 24px;
  max-width: 270px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.doctor-text1 {
  width: 100%;
  font-size: 14px;
  max-width: 240px;
  text-align: center;
  line-height: 21px;
}
@media(max-width: 767px) {
  .doctor-image {
    width: 200px;
  }
  .doctor-text {
    font-size: 16px;
    max-width: 200px;
    line-height: 24px;
  }
  .doctor-text1 {
    font-size: 12px;
    max-width: 200px;
    line-height: 18px;
  }
}

.protoype-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.protoype-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.protoype-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.protoype-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.protoype-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.protoype-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.protoype-close:hover {
  opacity: 0.5;
}
.protoype-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.protoype-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image {
  width: 12px;
  object-fit: cover;
}
.protoype-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header02 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image01 {
  width: 12px;
  object-fit: cover;
}
.protoype-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header03 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image02 {
  width: 12px;
  object-fit: cover;
}
.protoype-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header04 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image03 {
  width: 12px;
  object-fit: cover;
}
.protoype-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header05 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image04 {
  width: 12px;
  object-fit: cover;
}
.protoype-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.protoype-heading06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header06 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.protoype-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.protoype-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image05 {
  width: 12px;
  object-fit: cover;
}
.protoype-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.protoype-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.protoype-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.protoype-logo {
  width: 165px;
  object-fit: cover;
}
.protoype-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.protoype-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.protoype-link:hover {
  opacity: 0.5;
}
.protoype-link01 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.protoype-link01:hover {
  opacity: 0.5;
}
.protoype-link02 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.protoype-link02:hover {
  opacity: 0.5;
}
.protoype-link03 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.protoype-link03:hover {
  opacity: 0.5;
}
.protoype-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.protoype-phone {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.protoype-image06 {
  width: 18px;
  object-fit: cover;
}
.protoype-text06 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-book {
  text-decoration: none;
}
.protoype-image07 {
  width: 18px;
  object-fit: cover;
}
.protoype-text07 {
  font-family: Inter;
}
.protoype-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.protoype-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.protoype-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.protoype-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.protoype-image08 {
  height: 2rem;
}
.protoype-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.protoype-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.protoype-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.protoype-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.protoype-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.protoype-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.protoype-book1 {
  text-decoration: none;
}
.protoype-image09 {
  width: 18px;
  object-fit: cover;
}
.protoype-text12 {
  font-family: Inter;
}
.protoype-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.protoype-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.protoype-heading07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.protoype-header07 {
  width: 100%;
  font-size: 62px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.protoype-caption6 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.protoype-image10 {
  width: 18px;
  object-fit: cover;
}
.protoype-image11 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
.protoype-image12 {
  height: 95%;
  object-fit: cover;
}
.protoype-features {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #2461FF;
}
.protoype-content01 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.protoype-background {
  right: 0px;
  width: 37%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #D0F4FD;
}
.protoype-practices1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 120px;
  flex-direction: row;
  padding-bottom: 120px;
}
.protoype-heading08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-text16 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}
.protoype-text17 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
.protoype-content02 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-grid1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.protoype-practice-wrapper {
  cursor: pointer;
  text-decoration: none;
}
.protoype-practice-wrapper1 {
  cursor: pointer;
  text-decoration: none;
}
.protoype-practice-wrapper2 {
  cursor: pointer;
  text-decoration: none;
}
.protoype-practice-wrapper3 {
  cursor: pointer;
  text-decoration: none;
}
.protoype-practice-wrapper4 {
  cursor: pointer;
  text-decoration: none;
}
.protoype-practice-wrapper5 {
  cursor: pointer;
  text-decoration: none;
}
.protoype-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #D0F4FD;
}
.protoype-heading09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-header08 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.protoype-header09 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.protoype-content03 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-video {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
.protoype-video1 {
  width: 100%;
}
.protoype-play {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  cursor: pointer;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-play:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.protoype-image13 {
  width: 80px;
  object-fit: cover;
}
.protoype-caption7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-header10 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
}
.protoype-header11 {
  max-width: 600px;
  text-align: center;
  line-height: 24px;
}
.protoype-features1 {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.protoype-section6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.protoype-content04 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-header12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-heading10 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.protoype-capton {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.protoype-text19 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image14 {
  width: 12px;
  object-fit: cover;
}
.protoype-image15 {
  width: 400px;
  object-fit: cover;
}
.protoype-section7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.protoype-content05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-header13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-heading11 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.protoype-capton1 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.protoype-text20 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image16 {
  width: 12px;
  object-fit: cover;
}
.protoype-image17 {
  width: 520px;
  object-fit: cover;
}
.protoype-section8 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.protoype-content06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-header14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-heading12 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.protoype-capton2 {
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.protoype-image18 {
  width: 580px;
  object-fit: cover;
}
.protoype-book4 {
  display: none;
}
.protoype-schedule {
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.protoype-content07 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  background-color: #2461FF;
}
.protoype-header15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-heading13 {
  color: #ffffff;
  font-size: 56px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.protoype-caption8 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  max-width: 900px;
  text-align: center;
  line-height: 27px;
}
.protoype-types {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.protoype-book-person {
  text-decoration: none;
}
.protoype-search {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: stretch;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 110px;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.protoype-heading14 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-text25 {
  font-size: 56px;
  max-width: 385px;
  font-style: normal;
  font-weight: 600;
}
.protoype-text26 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
.protoype-content08 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-type-one {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #B4B9C6;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.protoype-alphabet {
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(10, minmax(60px, 1fr));
}
.protoype-text27 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text28 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text29 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text30 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text31 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text33 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text34 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text35 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text37 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text38 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text39 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text40 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text41 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text42 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text43 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text44 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text45 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text46 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text47 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text48 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text49 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text50 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text51 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text52 {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
}
.protoype-text53 {
  max-width: 700px;
  line-height: 24px;
}
.protoype-results {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-heading15 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-type-two {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-heading16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-text54 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.protoype-text55 {
  max-width: 700px;
  line-height: 24px;
}
.protoype-symptoms {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-row {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.protoype-text56 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text57 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text58 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text59 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text60 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-row1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.protoype-text61 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text62 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text63 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text64 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text65 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-row2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.protoype-text66 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text67 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text68 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text69 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text70 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-book5 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-bottom-width: 1px;
}
.protoype-heading17 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-text71 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.protoype-text72 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.protoype-form {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-types1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.protoype-text73 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-text74 {
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  white-space: nowrap;
}
.protoype-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-date {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.protoype-image19 {
  width: 20px;
  object-fit: cover;
  border-color: #B4B9C6;
  padding-bottom: var(--dl-space-space-unit);
  border-bottom-width: 1px;
}
.protoype-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-text75 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.protoype-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.protoype-book6 {
  width: 100%;
}
.protoype-text77 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.protoype-text79 {
  color: #2461ff;
  font-style: normal;
  font-weight: 600;
}
.protoype-text81 {
  color: #2461ff;
  font-style: normal;
  font-weight: 600;
}
.protoype-meet {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #D0F4FD;
}
.protoype-heading18 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-text83 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.protoype-text84 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.protoype-list1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: row;
}
.protoype-controls {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-forward {
  transform: rotate(180deg);
}
.protoype-doctors {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.protoype-search1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 570px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.protoype-textinput5 {
  flex: 1;
  height: 100%;
}
.protoype-news {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 200px;
}
.protoype-heading19 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.protoype-text86 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.protoype-text87 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.protoype-list2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: row;
}
.protoype-item {
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2461FF;
}
.protoype-image20 {
  width: 100%;
  height: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-image21 {
  height: 50px;
  object-fit: cover;
}
.protoype-content09 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.protoype-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-date1 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.protoype-quick-description {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.protoype-text88 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image22 {
  width: 12px;
  object-fit: cover;
}
.protoype-item1 {
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F7;
}
.protoype-image23 {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-image24 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.protoype-content10 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.protoype-details1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-date2 {
  color: #000000;
  line-height: 24px;
}
.protoype-quick-description1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.protoype-text89 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image25 {
  width: 12px;
  object-fit: cover;
}
.protoype-item2 {
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F7;
}
.protoype-image26 {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.protoype-image27 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.protoype-content11 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.protoype-details2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-date3 {
  color: #000000;
  line-height: 24px;
}
.protoype-quick-description2 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.protoype-text90 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.protoype-image28 {
  width: 12px;
  object-fit: cover;
}
.protoype-download {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.protoype-main1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: #D0F4FD;
}
.protoype-image29 {
  height: 565px;
  margin-top: -80px;
  object-fit: cover;
}
.protoype-content12 {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 130px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.protoype-text91 {
  font-size: 40px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}
.protoype-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.protoype-i-os {
  gap: var(--dl-space-space-halfunit);
}
.protoype-image30 {
  width: 16px;
  object-fit: cover;
}
.protoype-image31 {
  width: 16px;
  object-fit: cover;
}
.protoype-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.protoype-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.protoype-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-image32 {
  width: 165px;
  object-fit: cover;
}
.protoype-text94 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.protoype-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: row;
}
.protoype-image33 {
  width: 24px;
  object-fit: cover;
}
.protoype-image34 {
  width: 24px;
  object-fit: cover;
}
.protoype-image35 {
  width: 24px;
  object-fit: cover;
}
.protoype-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.protoype-copyright {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.protoype-right1 {
  gap: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.protoype-list3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header16 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.protoype-links1 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-link04 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link04:hover {
  opacity: 0.5;
}
.protoype-link05 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link05:hover {
  opacity: 0.5;
}
.protoype-link06 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link06:hover {
  opacity: 0.5;
}
.protoype-link07 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link07:hover {
  opacity: 0.5;
}
.protoype-link08 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link08:hover {
  opacity: 0.5;
}
.protoype-list4 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header17 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.protoype-links2 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-link09 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link09:hover {
  opacity: 0.5;
}
.protoype-link10 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link10:hover {
  opacity: 0.5;
}
.protoype-link11 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link11:hover {
  opacity: 0.5;
}
.protoype-link12 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link12:hover {
  opacity: 0.5;
}
.protoype-list5 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-header18 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.protoype-links3 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.protoype-link13 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
}
.protoype-link13:hover {
  opacity: 0.5;
}
.protoype-link14 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.protoype-link14:hover {
  opacity: 0.5;
}
.protoype-link15 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.protoype-link15:hover {
  opacity: 0.5;
}
.protoype-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.protoype-row3 {
  display: flex;
}
.protoype-copyright5 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.protoype-container3 {
  display: contents;
}
.protoype-container5 {
  display: contents;
}
.protoype-container7 {
  display: contents;
}
@media(max-width: 991px) {
  .protoype-hero {
    flex: 1;
    height: 0px;
  }
  .protoype-navbar {
    z-index: 1000;
  }
  .protoype-links {
    display: none;
  }
  .protoype-right {
    display: none;
  }
  .protoype-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .protoype-icon1 {
    fill: white;
  }
  .protoype-main {
    flex-direction: column;
  }
  .protoype-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .protoype-header07 {
    max-width: 75%;
  }
  .protoype-text13 {
    max-width: 75%;
  }
  .protoype-caption6 {
    max-width: 75%;
  }
  .protoype-image11 {
    flex: 0 0 auto;
    align-items: flex-end;
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-end;
  }
  .protoype-features {
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-content01 {
    flex-direction: column;
  }
  .protoype-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .protoype-practices1 {
    flex-direction: column;
  }
  .protoype-why {
    gap: var(--dl-space-space-threeunits);
  }
  .protoype-features1 {
    gap: var(--dl-space-space-threeunits);
  }
  .protoype-section6 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .protoype-image15 {
    width: 100%;
  }
  .protoype-section7 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .protoype-image17 {
    width: 100%;
  }
  .protoype-section8 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .protoype-image18 {
    width: 100%;
  }
  .protoype-schedule {
    padding-left: 0px;
    padding-right: 0px;
  }
  .protoype-types {
    width: 100%;
    flex-direction: column;
  }
  .protoype-book-person {
    width: 50%;
  }
  .protoype-book-person1 {
    width: 50%;
  }
  .protoype-search {
    width: 100%;
    flex-direction: column;
  }
  .protoype-heading14 {
    align-items: center;
  }
  .protoype-text25 {
    max-width: 100%;
    text-align: center;
  }
  .protoype-text26 {
    text-align: center;
  }
  .protoype-content08 {
    gap: var(--dl-space-space-threeunits);
  }
  .protoype-type-one {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .protoype-alphabet {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .protoype-text53 {
    text-align: center;
  }
  .protoype-type-two {
    gap: var(--dl-space-space-twounits);
  }
  .protoype-heading16 {
    align-items: center;
  }
  .protoype-text54 {
    text-align: center;
  }
  .protoype-text55 {
    text-align: center;
  }
  .protoype-symptoms {
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .protoype-row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .protoype-row1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .protoype-row2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .protoype-meet {
    padding-right: 0px;
  }
  .protoype-heading18 {
    padding-right: var(--dl-space-space-fiveunits);
  }
  .protoype-list1 {
    position: relative;
    flex-direction: column-reverse;
  }
  .protoype-controls {
    gap: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
  .protoype-doctors {
    overflow: hidden;
  }
  .protoype-search1 {
    gap: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .protoype-book7 {
    width: 100%;
  }
  .protoype-list2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .protoype-item {
    height: auto;
  }
  .protoype-image20 {
    height: 280px;
  }
  .protoype-content09 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .protoype-quick-description {
    font-size: 18px;
  }
  .protoype-item1 {
    height: auto;
  }
  .protoype-image23 {
    height: 280px;
  }
  .protoype-content10 {
    gap: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .protoype-quick-description1 {
    font-size: 18px;
  }
  .protoype-item2 {
    height: auto;
  }
  .protoype-image26 {
    height: 280px;
  }
  .protoype-content11 {
    gap: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .protoype-quick-description2 {
    font-size: 18px;
  }
  .protoype-content12 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .protoype-left1 {
    padding-right: 0px;
  }
  .protoype-socials {
    display: none;
  }
  .protoype-legal {
    display: none;
  }
  .protoype-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .protoype-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .protoype-row3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .protoype-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .protoype-burger-menu {
    display: flex;
  }
  .protoype-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .protoype-header07 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .protoype-text13 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .protoype-caption6 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .protoype-content01 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-practices1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading08 {
    gap: var(--dl-space-space-unit);
  }
  .protoype-text16 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-text17 {
    font-size: 14px;
    line-height: 21px;
  }
  .protoype-content02 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
  }
  .protoype-grid1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .protoype-why {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-header08 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-header09 {
    font-size: 14px;
    max-width: 60%;
    line-height: 21px;
  }
  .protoype-content03 {
    gap: var(--dl-space-space-twounits);
  }
  .protoype-header10 {
    font-size: 22px;
    line-height: 33px;
  }
  .protoype-header11 {
    font-size: 14px;
    line-height: 21px;
  }
  .protoype-features1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-content04 {
    gap: var(--dl-space-space-unit);
  }
  .protoype-heading10 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-capton {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-heading11 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-capton1 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-heading12 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-capton2 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-book3 {
    display: none;
  }
  .protoype-book4 {
    width: 100%;
    display: flex;
  }
  .protoype-schedule {
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-content07 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading13 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-caption8 {
    font-size: 14px;
    line-height: 21px;
  }
  .protoype-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-book-person {
    width: 80%;
  }
  .protoype-book-person1 {
    width: 80%;
  }
  .protoype-search {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading14 {
    gap: var(--dl-space-space-unit);
  }
  .protoype-text25 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-text26 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-alphabet {
    padding-left: 0px;
    padding-right: 0px;
  }
  .protoype-symptoms {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .protoype-book5 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading17 {
    gap: var(--dl-space-space-unit);
  }
  .protoype-text71 {
    font-size: 24px;
  }
  .protoype-text72 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-form {
    gap: var(--dl-space-space-threeunits);
  }
  .protoype-types1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-meet {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading18 {
    gap: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .protoype-text83 {
    font-size: 24px;
  }
  .protoype-text84 {
    font-size: 14px;
    max-width: 80%;
  }
  .protoype-list1 {
    gap: var(--dl-space-space-twounits);
  }
  .protoype-controls {
    padding-right: 0px;
  }
  .protoype-doctors {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-search1 {
    padding-right: 0px;
  }
  .protoype-news {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .protoype-heading19 {
    gap: var(--dl-space-space-unit);
  }
  .protoype-text86 {
    font-size: 30px;
    line-height: 36px;
  }
  .protoype-text87 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .protoype-date1 {
    font-size: 10px;
    line-height: 15px;
  }
  .protoype-date2 {
    font-size: 10px;
    line-height: 15px;
  }
  .protoype-date3 {
    font-size: 10px;
    line-height: 15px;
  }
  .protoype-main1 {
    align-items: center;
    flex-direction: column-reverse;
  }
  .protoype-image29 {
    height: 620px;
    margin-top: 0px;
  }
  .protoype-content12 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .protoype-text91 {
    max-width: 500px;
  }
  .protoype-buttons {
    width: 100%;
    flex-direction: column;
  }
  .protoype-i-os {
    width: 80%;
  }
  .protoype-android {
    width: 80%;
  }
  .protoype-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .protoype-image32 {
    width: 110px;
  }
  .protoype-text94 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .protoype-navbar {
    padding: var(--dl-space-space-unit);
  }
  .protoype-mobile-menu {
    padding: 16px;
  }
  .protoype-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .protoype-header07 {
    max-width: 80%;
  }
  .protoype-text13 {
    max-width: 80%;
  }
  .protoype-caption6 {
    max-width: 100%;
  }
  .protoype-book2 {
    width: 100%;
  }
  .protoype-image12 {
    max-height: 500px;
  }
  .protoype-types1 {
    flex-direction: column;
  }
}
